body {
    background-color: #111;
}

.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    border: #bbb solid 1px;
    width: 405px;
    height: 720px;
}