body {
    background-color: #111;
}

.center_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    border: #bbb solid 1px;
    width: 342px;
    height: 608px;
}

#scoreboard {
    position: absolute;
    top: 20px;
    color: white;
    font-size: 40px;
}